@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */


/* CSS Reset Example */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize Example (you can also use a library like normalize.css) */
html {
  line-height: 1.15; /* 1.15 is the default line-height in browsers */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}
